.side-bar

  .side-bar__user-name

    .block1
      .block1__name
        = current_user.name
      .block1__icon
        = link_to "#", class: "contents__btn--icon" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "contents__btn--icon" do
          = icon('fas', 'cog')

  .side-bar__chat-group

    .group-all

      .group-all__name
        techcamp
      .group-all__message
        まだメッセージはありません
      .group-all__name
        techacademy
      .group-all__message
        まだメッセージはありません
      .group-all__name
        techexpert
      .group-all__message
        まだメッセージはありません

