.side-bar

  .side-bar__user-name

    .block1
      .block1__name
        masa
      .block1__icon
        = link_to new_group_path, class: "contents__btn--icon" do
          = icon('far', 'edit')
        = link_to "#", class: "contents__btn--icon" do
        = link_to edit_user_path(current_user.id), class: "contents__btn--icon" do

          = icon('fas', 'cog')

  .side-bar__chat-group

    .group-all
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。